[Unit]
Description=Prometheus OpenVPN exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{ web_username }}
Group={{ web_group }}
Type=simple
ExecStart=/usr/sbin/nginx
Restart=always

[Install]
WantedBy=multi-user.target