[Unit]
Description=Prometheus OpenVPN exporter
Wants=network-online.target
After=network-online.target

[Service]
User=ovpn_exporter
Group=prometheus
Type=simple
ExecStart=/usr/bin/openvpn_exporter
Restart=always

[Install]
WantedBy=multi-user.target